# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Django
*.log
logs/
media/
staticfiles/
db.sqlite3

# Environment
.env
.env.*
!.env.example

# Tooling
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
